body {
}

.content article {
  /*max-width: 1200px;*/
  margin-bottom: 15vh;
}

/* logo */

.sidebar > h1 {
  text-align: left;
  padding-left: 15px;
}

.sidebar > h1 > a img {
  height: 60px;
}

.sidebar > h1 > a {
  display: flex;
  vertical-align: top;
  line-height: 0.9em;
}

.sidebar > h1 div {
  padding: 6px 12px;
}

.sidebar > h1 span {
  font-size: 0.6em;
  display: block;
}

/* sidebar */

.sidebar-nav li {
  margin: 0 25px;
  line-height: 1.8em;
}

.sidebar-nav > ul > li > p,
.sidebar-nav > ul > li > p > a {
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: .5em;
}

.sidebar-nav > ul > li > ul p {
  font-weight: normal;
}

/* content */

.markdown-section {
  max-width: 850px;
}

.markdown-section h2 {
  border-bottom: 1px solid #DDD;
  margin-left: -0.8em;
  padding-left: 0.8em;
  padding-bottom: 0.4em;
}

.markdown-section h2 + h3 {
  margin-top: 0.8em;
}

.markdown-section em {
  color: inherit;
  font-weight: 600;
}

.markdown-section li {
  margin-left: 1em;
}

pre code.lang-folders {
  line-height: 1.4em;
}
